//tamaño para h1 logotipo de desktop
.menu__logotipo{
    font-size:$size-logo-desktop;
}

//tamaño para el menú hamburguesa
.header__hamb__img{
    width:convertir(45);
    height: convertir(45);
}

//-caracteristicas generales para header
.header{
    width:100%;
    background-color: $verde-claro;
    height: 10vh;
    padding: convertir(10);
    display:flex;
    justify-content: center;
    align-items: center;
    @include mediaQuery(mobil){
        justify-content: flex-start;
    }
    @include mediaQuery(ipad){
        display:flex;
        flex-direction: row-reverse;
        justify-content:space-between;
        font-size:$size18;

    }
}

//colocacion del h1 Logotipo en movil
.header__logo_texto{
    @include mediaQuery(mobil){
        padding: 0 0 0 convertir(90);
        font-size:$size18;
    }

    //quitamos dela vista del escritorio el h1 logotipo para incluirlo en el nav
    @include mediaQuery(escritorio){
        display:none;
    }

}
a{
    text-decoration: none;
    color:$negro;
}
//input siempre estara invisible
input{
    display:none;
}
//el menú hamburguesa no aparecerá en escritorio
label{
    @include mediaQuery(escritorio){
        display:none;
    }
}
.header__menu{
    @include mediaQuery(mobil){
        display:none;
    }
    @include mediaQuery(ipad){
        display:none;
    }
    @include mediaQuery(escritorio){
        display:flex;
        width:50%;
        justify-content: space-between;
        align-items: center;
        font-size:$size18;
        font-weight: bold;

    }

}

