//- Logotipo
label.header__logo(for="click")
    img.header__logotipo(src="assets/img/svg/menu.svg", alt="")
input(type="checkbox" id="click")
//- Menu Principal
nav.header__menu
    
   
        a.menu__inicio(href="index.html") Inicio
    
        a.menu__proyectos(href="proyectos.html") Proyectos
   
        a.menu__quienes(href="quienes.html") Quienes Somos
        a.menu__contactar(href="contactar.html") contactar