//- Logotipo
label.header__hamb(for="click")
    img.header__hamb__img(src="assets/img/svg/menu.svg", alt="")
input(type="checkbox" id="click")
h1.header__logo_texto LOGOTIPO
//- Menu Principal
nav.header__menu
    
   
        a.menu__inicio(href="index.html") Inicio
    
        a.menu__proyectos(href="proyectos.html") Proyectos
        h1.menu__logotipo LOGOTIPO
   
        a.menu__quienes(href="quienes.html") Quienes Somos
        a.menu__contactar(href="contactar.html") contactar