
section.main__chica
    +picture("img1", "chica", "mid")
    img.chica__flecha(src="assets/img/svg/flecha.svg", alt="")
    +picture("img2", "perro", "mid")

section.main__chico
    +picture("img3", "chico", "mid")
    img.chica__flecha(src="assets/img/svg/flecha.svg", alt="")
    +picture("img4", "gato", "mid")