
section.main__chica
    +picture("img1", "chica", "mid")
    img.chica__flecha(src="assets/img/svg/flecha.svg", alt="")
    +picture("img2", "perro", "mid")
    article.chica__texto
        h4 Ana Perez & "Superman"
        h6 "Superman" vive con su due침a desde hace 3 a침os. Pastor alem치n

section.main__chico
    +picture("img3", "chico", "mid")
    img.chica__flecha(src="assets/img/svg/flecha.svg", alt="")
    +picture("img4", "gato", "mid")
    article.chico__texto
        h4 David Socias & "Gatito"
        h6 "Gatito" vive con su due침o desde hace 2 meses. Toyger