/* MIXIN MEDIA QUERY'S*/
@mixin mediaQuery($query) {
    /* VARIABLES */
    $breakpoint-small: 320px;
    $breakpoint-medium: 768px;
    $breakpoint-large: 1366px;

    // Objeto queries
    $queries: (
        mobil-peke: '(max-device-width: #{$breakpoint-small}) and (orientation: portrait)',
        mobil: '(min-device-width: #{$breakpoint-small}) and (max-device-width: #{$breakpoint-small + 100}) and (orientation: portrait)',
        ipad: '(min-device-width: #{$breakpoint-medium}) and (max-device-width: #{$breakpoint-medium + 100}) and (orientation: portrait)',
        ipad-horiz: '(min-device-width: #{$breakpoint-medium}) and (orientation: landscape)',
        escritorio: '(min-width: #{$breakpoint-large})'
    );

    // Ejecución
    @if map-has-key($queries, $query) {
        $query-value: map-get($queries, $query);

        @media only screen and #{$query-value} {
            @content;
        }
    } 
    @else {
        @warn 'Problemas con' + $query ;
    }
}

/* //utilizar el mixin, se utiliza dentro de el elemento que haya que modificar segun el dispositivo
p{
color:grey // esta propiedad sería general para todos los dispositivos, si no hubiera un general y cada dispositivo tuviera unas propiedades diferentes pues tendríamos 3 @include mediaQuery  cada una para asignar las caracteristicas para los diferentes dispositivos


@include mediaQuery(desktop){
    color:red;  // y esta propiedad se aplicará solo en el escritorio
    
}
} */