//-Colores
$gris: #C4C4C4;
$verde-claro: #CBFFD6;
$verde-oscuro:#276735;
$blanco: #fff;
$negro:#000;

//tamaños tipografia

$size18: convertir(18); //y nav desktop
$size-logo-desktop: convertir(39.43);
$size-nav-movil: convertir(26.65);
$size-base: convertir(16);